@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To HaoNam</h1>
    <p>Deploy dự án lên máy chủ nginx trên Ubuntu</p>
</div>
